body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: DAD2D8;
    line-height: 1.5;
}

header {
    background-color: #1E5C34;
    color: white;
    padding: 10px;
    border-radius: 2px;
}

.card{
    background-color: #CADE91;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.289);
}